 @import url('https://fonts.googleapis.com/css2?family=Niramit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap'); 



.Kavita-Category-Container{
  display: flex;
  padding: 6vh 10vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

background: #FFE7E3;


}


.Category-heading{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}




.Kavita-Category-head{
  display: flex;
  align-items: center;
  justify-content: center;
  justify:space-between;
 
  margin-top: -4.5vh;
  color: var(--Text, #000);
  
  font-family: Niramit;
  font-size: clamp(2rem, 4vw, 3.5rem);


  font-weight: 600;
  line-height: normal;
  align-self: stretch; 
 

  color: var(--Text, #000);
 
  
}



.Kavita-Category-head span {

  color: var(--Brand, #EA7F13);
text-align: center;
margin-right: 10px;

font-family: Niramit;
 
font-size: clamp(2rem, 4vw, 3.5rem);


 

  
}

.Kavita-Category-info{
  color: var(--Grey, #848484);
text-align: center;

font-family: Niramit;
 
font-size: clamp(0.875rem, 1.75vw, 1.25rem);

margin-top: -2.8vh;

 max-width: 120vw;

  

}

.Category-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding: 2vw;
  scroll-behavior: smooth;
  height: auto;


  scroll-behavior: smooth;
  overflow-x: auto;
  white-space: nowrap; 
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none; 
  justify-content: flex-start; 
}

.card {

width: clamp(150px, 14vw, 200px);
  background-color: #fff;
  border-radius: 10px;
padding: 5px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
position: relative;
  transition: transform 0.3s ease;
  margin-top: 2vh;
  cursor: pointer;
  overflow: visible;
}

.card:hover {
  transform: translateY(-5px);
}


.card-head {

  color: var(--Brand, #EA7F13);
  text-align: center;
  font-family: "Amita";
  font-size: clamp(20px, 2vw, 35px);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -7vh;
  margin-left: -8vw;
  z-index: 1000;
}

.big-card-head {
  color: var(--Brand, #EA7F13);
  text-align: center;
  font-family:"Amita";
  font-size: clamp(28px, 3.5vw, 50px);

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
}

.bold-info {
  font-weight: bold;
  color: #000;
}


.card p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left:20px;
  align-items: center;
  font-size: 0.65vw; 
  color: #444;
  line-height: 1.6;
  margin-top: -3vh;
  width: 80%; 
  word-wrap: break-word;
  white-space: normal;
  text-align: justify; 
  cursor: pointer;
  font-family: Niramit;
 
}

.Vacha_button {

  font-family: 'Mukta', sans-serif;
  margin-top: 10px;
  background-color: #EA7F13;
  color: white;
  cursor: pointer;
  border: 2px solid brown;
  border-radius: 10px;
  padding: 0px;
  width: 40%;
  margin-top:15px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
.Vacha_button:hover{
  background-color: #efa357;
  color: black;
}

.card img {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 20px;
  height: 20px;

}

#samajik{
  margin-left: -40px;
}
#Nature-id{
  margin-left: 20px;
}
 

